footer {
    background-color: #D2691E;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
}

.icon-social {
    width: 3vh;
    margin: 0 1vw;
    filter: invert(100%);
    transition: 1.3s ease-in-out;
}

.icon-social:hover {
    transform: rotate(360deg) scale(1.1);
}